Date of extract: 
<%= Date.today %>
<br>


<table style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    
        <td><%= @employee.name %></td>
        <td><%= @employee.department %></td>
        <td><%= @employee.salary %></td>
     <div class="col-lg-1">
<img src = "https://osidigital.com/wp-content/uploads/2018/08/osi_logo_rgb.png" style="width:200px;height:80px;">
</div>
  </tbody>
</table> 